---
interface Schedule {
  hour: number;
  idServiceOrder: string | null;
}

interface Props {
  info: string;
  schedule: Schedule[];
}

import axios from "axios";
import dayjs from "dayjs";
import "dayjs/locale/ja";
import timezone from "dayjs/plugin/timezone";
import utc from "dayjs/plugin/utc";
import Card from "../components/Card.astro";
import CardHome from "../components/CardHome.astro";
import HourCard from "../components/HourCard.astro";
import Layout from "../layouts/Layout.astro";
import "../styles/global.css";

let { info, schedule } = Astro.props;
dayjs.extend(utc);
dayjs.extend(timezone);

// const date = dayjs().tz("Asia/Tokyo").format("YYYY-MM-DD");
const date = "2024-03-20";
console.log("\nDATE IN JAPAN:", date, "\n");

try {
  const response = await axios.get(`https://api.jhonatec.com/schedule/${date}`);
  console.log("RESPONSE", response.data);
  if (response.data) {
    info = response.data;
    schedule = response.data.schedule;
  }
} catch (error) {
  if (error instanceof axios.AxiosError) {
    console.error("AXIOS ERROR", error.response);
  } else {
    console.error("COMMOM ERROR", error);
  }
}
---

<meta />
<title>Teste</title>
<meta name='description' content='Teste' />
<meta name='keywords' content='Teste' />
<meta name='author' content='Teste' />
<link rel='icon' type='image/svg+xml' href='/avout.svg' />
<!-- <link rel="icon" href="/about.svg" type="image/svg+xml"> -->

<Layout title='About us'>
  <main>
    <h1>About us</h1>
    <p>
      We are a small team of developers and designers who love to build things.
    </p>
    <img
      src='/about.svg'
      alt='A team of developers and designers working together.'
      height='300'
    />
    <h3>Resposta da API:</h3>
    <p>{info ? "200: OK" : "NULL"}</p>
    <h3>Renderizado:</h3>
    <ul class='list'>
      {
        schedule &&
          schedule.map((item) => (
            <HourCard hour={item.hour} idServiceOrder={item.idServiceOrder} />
          ))
      }
    </ul>
    <ul class='list'>
      <Card
        href='#'
        title='Our mission'
        body='Our mission is to build the best products for our customers.'
      />
      <CardHome />
    </ul>
  </main>
</Layout>
