---
import Card from "../components/Card.astro";
import CardHome from "../components/CardHome.astro";
import Layout from "../layouts/Layout.astro";
import "../styles/global.css";

// Get all posts
const allPosts = await Astro.glob("../pages/posts/*.md");
---

<Layout title='Archive'>
  <main>
    <header>
      <h1>Archive</h1>
      <p>Look my latest posts!</p>
    </header>
    <ul class='list'>
      <!-- Loop over all posts -->
      {
        allPosts.map((post) => (
          <Card
            title={post.frontmatter.title}
            href={post.url ?? "#"}
            body={post.frontmatter.description}
          />
        ))
      }
      <CardHome />
    </ul>
  </main>
</Layout>
