---
interface Props {
  hour: number;
  idServiceOrder: string | null;
}

const { hour, idServiceOrder } = Astro.props;

const borderColor = '#ccc';
---

<div class=`hour-card ${idServiceOrder ? 'disable' : ''}`>
  <h3>{hour} horas</h3>
  {
    idServiceOrder ? (
      <a class='no-cursor-events'>Indisponível</a>
    ) : (
      <a onclick={`alert('Agendado para ${hour} horas!')`}>Agendar</a>
    )
  }
</div>

<style define:vars={{borderColor}}>
  .disable {
    opacity: 0.5;
    cursor: not-allowed;
    /* pointer-events: none; */
  }

  .no-cursor-events {
    pointer-events: none;
  }

  .hour-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    border: 1px solid var(--borderColor);
    border-radius: 5px;
    margin: 10px;
  }

  .hour-card h3 {
    margin: 0.2rem;
  }

  a {
    text-decoration: none;
    transition: all 0.2s;
    width: 100%;
    color: rgb(var(--accent-light));
    padding: 0.5rem;
    background-color: #333333;
    border-radius: 5px;
    text-align: center;
  }

  a:hover {
    font-size: large;
    filter: brightness(1.2);
    box-shadow: 0 0 4px rgba(255, 255, 255, 0.316);
  }
</style>
