* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

main {
  margin: auto;
  padding: 1rem;
  width: 800px;
  max-width: calc(100% - 2rem);
  color: white;
  font-size: 20px;
  line-height: 1.6;
  text-align: center;
}

.list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
  padding: 0;
  gap: 1rem;
  width: 100%;
}

a {
  color: white;
  text-decoration: none;
  font-style: italic;
  font-weight: 100;
  transition: all 350ms;
}

a:hover {
  text-decoration: underline 1px rgb(var(--accent-light));
  color: rgb(var(--accent-light));
  font-weight: 400;
}
