* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

main {
  margin: auto;
  padding: 1rem;
  width: 800px;
  max-width: calc(100% - 2rem);
  color: white;
  font-size: 20px;
  line-height: 1.6;
  text-align: center;
}

.list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
  padding: 0;
  gap: 1rem;
  width: 100%;
}
