* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

main {
  margin: auto;
  padding: 1rem;
  width: 800px;
  max-width: calc(100% - 2rem);
  color: white;
  font-size: 20px;
  line-height: 1.6;
  text-align: center;
}

.list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
  padding: 0;
  gap: 1rem;
  width: 100%;
}

header {
  background-image: var(--accent-gradient);
  background-position: 10%;
  background-size: 400%;
  padding: 1rem;
  margin-bottom: 2rem;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  color: rgb(var(--accent-dark));
  border-radius: 5px;
  line-height: normal;
}

hr {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

a {
  color: white;
  text-decoration: none;
  font-style: italic;
  font-weight: 100;
  transition: all 350ms;
}

a:hover {
  text-decoration: underline 1px rgb(var(--accent-light));
  color: rgb(var(--accent-light));
  font-weight: 400;
}

li {
  /* list-style-type: none; */
  padding: 1rem;
  list-style-position: inside;
  /* white-space: ; */
}

li::marker {
  color: rgb(var(--accent-light));
}

/* Dark theme */
html.dark {
  background-color: #0d0950;
  color: #fff;
}

.dark .nav-links a {
  color: #fff;
}

.swal2-popup {
  background-color: rgb(var(--accent-dark));
  color: #fff;
  border: 1px solid #ffffff63;
  position: absolute;
  top: 0%;
}
